@{
    Layout = null;
 }

<b>
    Text de View Index
</b>

<table class="table">
    <tr>
        <td>Curso</td>
        <td>@ViewBag.ProductoName</td>
    </tr>
    <tr>
        <td>Credito</td>
        <td>@ViewBag.Credit</td>
    </tr>
    <tr>
        <td>Inicio</td>
        <td>@ViewBag.Inicio</td>
    </tr>

</table>