@model AW.Demo1.Models.Product

@{
    Layout = null;
 }

<b>
    Text de View Index
</b>

<table class="table">
    <tr>
        <td>Curso</td>
        <td>@Model.name </td>
    </tr>
    <tr>
        <td>Credito</td>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <td>Inicio</td>
        <td>@Model.Stock</td>
    </tr>

</table>